In [1]:
import pandas as pd
import numpy as np

In [2]:
# by prefecture part 1

df_pref_part1 = []

for i in range(16):
    sheet_number = i + 1
    
    if sheet_number % 2 == 0:
        # prefecture
        counter = 0
        sheet = pd.read_excel('../data/191011_191221kameiten_touroku_report.xlsx', sheet_name=i)
        df_pref_part1.append(sheet)
        counter += 1

In [3]:
# by prefecture part 2

df_pref_part2 = []

for i in range(22):
    sheet_number = i + 1
    
    if sheet_number % 2 == 0:
        # prefecture
        counter = 0
        sheet = pd.read_excel('../data/200111_200611kameiten_touroku_report.xlsx', sheet_name=i)
        df_pref_part2.append(sheet)
        counter += 1

In [4]:
df_pref_part1[1]

,Unnamed: 0,ポイント還元事業\n10月21日から開始できる加盟店登録数（市区町村別、業種分類別）,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,2019年10月21日時点,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,都道府県,市区町村,加盟店数,固定店舗,NaN,NaN,通信販売,移動販売等\n\n（タクシー、屋台など）
2,NaN,NaN,NaN,（小計）,小売業,飲食業,その他サービス業,NaN,NaN
3,NaN,北海道小計,NaN,31295,16210,4823,7477,1813,972
4,NaN,北海道,札幌市,12061,5196,2441,3214,833,377
...,...,...,...,...,...,...,...,...,...
1787,NaN,沖縄県,八重瀬町,56,24,5,19,0,8
1788,NaN,沖縄県,多良間村,2,2,0,0,0,0
1789,NaN,沖縄県,竹富町,56,5,6,36,5,4
1790,NaN,沖縄県,与那国町,4,2,0,2,0,0
1791,NaN,都道府県総計,NaN,610466,276934,103671,143243,66942,19676

In [5]:
# 加盟店数
kameiten_all = []

for i in range(8):
    list_kamei = list(df_pref_part1[i].iloc[3:1791,3])
    kameiten_all.append(list_kamei)
    
for i in range(11):
    list_kamei2 = list(df_pref_part2[i].iloc[3:1791,3])
    kameiten_all.append(list_kamei2)

In [6]:
# 固定店舗

koteitenn_all = []

for i in range(8):
    list_kotei = list(df_pref_part1[i].iloc[3:1791,4])
    koteitenn_all.append(list_kotei)
    
for i in range(11):
    list_kotei2 = list(df_pref_part2[i].iloc[3:1791,4])
    koteitenn_all.append(list_kotei2)

In [7]:
# 飲食業

insyoku_all = []

for i in range(8):
    list_insyoku = list(df_pref_part1[i].iloc[3:1791,5])
    insyoku_all.append(list_insyoku)
    
for i in range(11):
    list_insyoku2 = list(df_pref_part2[i].iloc[3:1791,5])
    insyoku_all.append(list_insyoku2)

In [8]:
# その他サービス業

service_all = []

for i in range(8):
    list_service = list(df_pref_part1[i].iloc[3:1791,6])
    service_all.append(list_service)
    
for i in range(11):
    list_service2 = list(df_pref_part2[i].iloc[3:1791,6])
    service_all.append(list_service2)

In [9]:
# 通信

tele_all = []

for i in range(8):
    list_tele = list(df_pref_part1[i].iloc[3:1791,7])
    tele_all.append(list_tele)
    
for i in range(11):
    list_tele2 = list(df_pref_part2[i].iloc[3:1791,7])
    tele_all.append(list_tele2)

In [10]:
# 移動販売

idou_all = []

for i in range(8):
    list_idou = list(df_pref_part1[i].iloc[3:1791,8])
    idou_all.append(list_idou)
    
for i in range(11):
    list_idou2 = list(df_pref_part2[i].iloc[3:1791,8])
    idou_all.append(list_idou2)

In [11]:
prefs_1 = list(df_pref_part1[2].iloc[3:1791,1])
prefs_2 = list(df_pref_part1[2].iloc[3:1791,2])
prefs = []

for i in range(1788):
    if not type(prefs_2[i]) == float:
        str_pref = str(prefs_1[i]) + str(prefs_2[i])
        prefs.append(str_pref)
    else:
        prefs.append(prefs_1[i])

In [12]:
times = ["1011","1021","1101","1111","1121","1201","1211","1221","0111","0121","0201","0211","0221","0301","0311","0321","0401","0601","0611"]

In [13]:
kameitan_array = np.array(kameiten_all)
kameitan_array = kameitan_array.T
df_kameiten = pd.DataFrame(kameitan_array, columns=times, index=prefs)
df_kameiten.to_csv("../csv/sikutyouson/kameiten.csv")

In [14]:
koteitenn_array = np.array(koteitenn_all)
koteitenn_array = koteitenn_array.T
df_koteitenn = pd.DataFrame(koteitenn_array, columns=times, index=prefs)
df_koteitenn.to_csv("../csv/sikutyouson/koteitenn.csv")

In [15]:
insyoku_array = np.array(insyoku_all)
insyoku_array = insyoku_array.T
df_insyoku = pd.DataFrame(insyoku_array, columns=times, index=prefs)
df_insyoku.to_csv("../csv/sikutyouson/insyoku.csv")

In [16]:
service_array = np.array(service_all)
service_array = service_array.T
df_service = pd.DataFrame(service_array, columns=times, index=prefs)
df_service.to_csv("../csv/sikutyouson/service.csv")

In [17]:
tele_array = np.array(tele_all)
tele_array = tele_array.T
df_tele = pd.DataFrame(tele_array, columns=times, index=prefs)
df_tele.to_csv("../csv/sikutyouson/tele.csv")

In [18]:
idou_array = np.array(idou_all)
idou_array = idou_array.T
df_idou = pd.DataFrame(idou_array, columns=times, index=prefs)
df_idou.to_csv("../csv/sikutyouson/idou.csv")