In [298]:
import pandas as pd
import numpy as np

In [299]:
df = pd.read_excel('../data/raw/kameiten-data.xlsx')

In [300]:
month_list = list(df.iloc[1,6:32])

In [302]:
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,ポイント還元事業の登録加盟店数の推移\n※本データは、ポイント還元事業に登録された決済事業者...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,都道府県,市区町村,加盟店区分,業種分類,利用可能な決済手段,2019/10/01,2019/10/11,2019/10/21,2019/11/01,...,2020/03/21,2020/04/01,2020/04/11,2020/04/21,2020/05/01,2020/05/11,2020/05/21,2020/06/01,2020/06/11,2020/06/21
2,NaN,北海道小計,NaN,NaN,NaN,NaN,25917,26484,30964,32043,...,50473,51144,51821,52710,52958,53536,53651,53792,53788,53783
3,NaN,北海道小計,NaN,NaN,NaN,クレジットカード 利用可能店,22249,22791,26396,27360,...,39239,39559,39988,40437,40564,41020,41116,41241,41232,41227
4,NaN,北海道小計,NaN,NaN,NaN,QRコード 利用可能店,7483,7766,9467,9772,...,21985,22548,23126,23853,24035,24283,24396,24477,24476,24473
5,NaN,北海道小計,NaN,NaN,NaN,その他電子マネー等 利用可能店,10445,10729,12272,12940,...,20232,20432,20741,21118,21258,21775,21866,22089,22080,22077
6,NaN,北海道小計,NaN,固定店舗,小売業,NaN,13907,14049,15983,16444,...,22141,22261,22445,22729,22780,22924,22947,22994,22996,22996
7,NaN,北海道小計,NaN,固定店舗,小売業,クレジットカード 利用可能店,12576,12728,14220,14688,...,18975,19064,19178,19317,19367,19475,19488,19532,19533,19533
8,NaN,北海道小計,NaN,固定店舗,小売業,QRコード 利用可能店,4904,4949,5715,5893,...,9766,9910,10081,10351,10387,10462,10498,10528,10529,10529
9,NaN,北海道小計,NaN,固定店舗,小売業,その他電子マネー等 利用可能店,6116,6175,6853,7095,...,9466,9535,9615,9746,9782,9973,9997,10063,10063,10064

In [303]:
list_store_type = []
list_industry_type = []
list_payment_type = []
list_pref = []
list_month = []
list_store_number = []


for i in range(2,42913):
    if type(df.iloc[i, 2]) == float:
        if type(df.iloc[i,3]) == float:
            store_type = "合計_店区分"
        else:
            store_type = df.iloc[i,3]

        if type(df.iloc[i,4]) == float:
            industry_type = "合計_業種分類"
        else:
            industry_type = df.iloc[i,4]
            
        if type(df.iloc[i,5]) == float:
            payment_type = "合計_決済手段"
        else:
            payment_type = df.iloc[i,5]
            
        pref = df.iloc[i,1]
        
        for j in range(6,32):
            month = month_list[j - 6]
            store_number = df.iloc[i,j]
            
            list_store_type.append(store_type)
            list_industry_type.append(industry_type)
            list_payment_type.append(payment_type)
            list_pref.append(pref)
            list_month.append(month)
            list_store_number.append(store_number)

In [304]:
data = {'pref': list_pref,
       'store_type': list_store_type,
        'payment_type': list_payment_type,
       'industry_type': list_industry_type,
       'month': list_month,
       'store': list_store_number}

In [305]:
# Convert the dictionary into DataFrame 
df_new = pd.DataFrame(data) 
  
# Observe the result 
df_new

df_new.to_csv('../csv/for_analysis/kameiten_pref.csv', index = False, header=True)

In [306]:
for i in range(29328):
    if df_new.iloc[i,4] == "2019/10/01" or df_new.iloc[i,4] == "2019/10/11" or df_new.iloc[i,4] == "2019/10/21":
        df_new.iloc[i,4] = 10
    
    elif df_new.iloc[i,4] == "2019/11/01" or df_new.iloc[i,4] == "2019/11/11" or df_new.iloc[i,4] == "2019/11/21":
        df_new.iloc[i,4] = 11
        
    elif df_new.iloc[i,4] == "2019/12/01" or df_new.iloc[i,4] == "2019/12/11" or df_new.iloc[i,4] == "2019/12/21":
        df_new.iloc[i,4] = 12
        
    elif df_new.iloc[i,4] == "2020/01/01" or df_new.iloc[i,4] == "2020/01/11" or df_new.iloc[i,4] == "2020/01/21":
        df_new.iloc[i,4] = 1
        
    elif df_new.iloc[i,4] == "2020/02/01" or df_new.iloc[i,4] == "2020/02/11" or df_new.iloc[i,4] == "2020/02/21":
        df_new.iloc[i,4] = 2
    
    elif df_new.iloc[i,4] == "2020/03/01" or df_new.iloc[i,4] == "2020/03/11" or df_new.iloc[i,4] == "2020/03/21":
        df_new.iloc[i,4] = 3
        
    elif df_new.iloc[i,4] == "2020/04/01" or df_new.iloc[i,4] == "2020/04/11" or df_new.iloc[i,4] == "2020/04/21":
        df_new.iloc[i,4] = 4
        
    elif df_new.iloc[i,4] == "2020/05/01" or df_new.iloc[i,4] == "2020/05/11" or df_new.iloc[i,4] == "2020/05/21":
        df_new.iloc[i,4] = 5
        
    elif df_new.iloc[i,4] == "2020/06/01" or df_new.iloc[i,4] == "2020/06/11":
        df_new.iloc[i,4] = 6
        
    else:
        print("Error")

In [307]:
for i in range(29328):
    df_new.iloc[i,5] = int(df_new.iloc[i,5])
    df_new.iloc[i,4] = int(df_new.iloc[i,4])

In [308]:
# authors = df.copy()
# authors = authors[['rating','name','author']].groupby('author').agg({'rating' : np.mean,
#                                                                   'name' : '|'.join})

In [309]:
copied_df = df_new.copy()
# grouped2=pd.to_numeric(datedatF['data1']).groupby(datedatF['key2'])
# grouped2.mean()

In [310]:
numeric = ['month','store']
copied_df[numeric] = copied_df[numeric].apply(pd.to_numeric, errors='coerce')

In [311]:
copied_df = copied_df.groupby(['pref','store_type','payment_type','industry_type','month']).agg({'store':np.mean})

In [312]:
copied_df.to_csv('../csv/for_analysis/kameiten_pref.csv', index = True, header=True)

In [313]:
imported_df = pd.read_csv('../csv/for_analysis/kameiten_pref.csv')

In [314]:
imported_df.head(5)

    pref store_type payment_type industry_type  month        store
0  三重県小計     合計_店区分  QRコード　利用可能店       合計_業種分類      1  4828.000000
1  三重県小計     合計_店区分  QRコード　利用可能店       合計_業種分類      2  5385.666667
2  三重県小計     合計_店区分  QRコード　利用可能店       合計_業種分類      3  5817.000000
3  三重県小計     合計_店区分  QRコード　利用可能店       合計_業種分類      4  6205.333333
4  三重県小計     合計_店区分  QRコード　利用可能店       合計_業種分類      5  6395.000000

In [315]:
df_filtered = imported_df[(imported_df['month'] == 10) | (imported_df['month'] == 11) | (imported_df['month'] == 12) | (imported_df['month'] == 1) | (imported_df['month'] == 2) | (imported_df['month'] == 3)]

In [316]:
df_filtered.head(10)

     pref store_type     payment_type industry_type  month        store
0   三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類      1  4828.000000
1   三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類      2  5385.666667
2   三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類      3  5817.000000
6   三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類     10  2150.000000
7   三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類     11  2969.000000
8   三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類     12  4353.333333
9   三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類      1  4686.333333
10  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類      2  5472.333333
11  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類      3  5980.333333
15  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類     10  2589.000000

In [317]:
df_filtered.to_csv('../csv/for_analysis/kameiten_pref.csv', index = False, header=True)

In [318]:
df_filtered.dtypes

pref              object
store_type        object
payment_type      object
industry_type     object
month              int64
store            float64
dtype: object

In [319]:
df_filtered = df_filtered.reset_index(drop=True)

In [320]:
df_filtered.head(10)

    pref store_type     payment_type industry_type  month        store
0  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類      1  4828.000000
1  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類      2  5385.666667
2  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類      3  5817.000000
3  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類     10  2150.000000
4  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類     11  2969.000000
5  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類     12  4353.333333
6  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類      1  4686.333333
7  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類      2  5472.333333
8  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類      3  5980.333333
9  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類     10  2589.000000

In [321]:
list_quarters = []

for i in range(6768):
    if df_filtered.iloc[i,4] == 10 or df_filtered.iloc[i,4] == 11 or df_filtered.iloc[i,4] == 12:
        quarter = 4
        list_quarters.append(quarter)
    elif df_filtered.iloc[i,4] == 1 or df_filtered.iloc[i,4] == 2 or df_filtered.iloc[i,4] == 3:
        quarter = 1
        list_quarters.append(quarter)
    else:
        print("error")

In [322]:
len(list_quarters)

6768

In [323]:
df_filtered["quarter"] = list_quarters

In [324]:
df_filtered.head(10)

,pref,store_type,payment_type,industry_type,month,store,quarter
0,三重県小計,合計_店区分,QRコード 利用可能店,合計_業種分類,1,4828.000000,1
1,三重県小計,合計_店区分,QRコード 利用可能店,合計_業種分類,2,5385.666667,1
2,三重県小計,合計_店区分,QRコード 利用可能店,合計_業種分類,3,5817.000000,1
3,三重県小計,合計_店区分,QRコード 利用可能店,合計_業種分類,10,2150.000000,4
4,三重県小計,合計_店区分,QRコード 利用可能店,合計_業種分類,11,2969.000000,4
5,三重県小計,合計_店区分,QRコード 利用可能店,合計_業種分類,12,4353.333333,4
6,三重県小計,合計_店区分,その他電子マネー等 利用可能店,合計_業種分類,1,4686.333333,1
7,三重県小計,合計_店区分,その他電子マネー等 利用可能店,合計_業種分類,2,5472.333333,1
8,三重県小計,合計_店区分,その他電子マネー等 利用可能店,合計_業種分類,3,5980.333333,1
9,三重県小計,合計_店区分,その他電子マネー等 利用可能店,合計_業種分類,10,2589.000000,4

In [325]:
df_filtered = df_filtered.groupby(['pref','store_type','payment_type','industry_type','quarter']).agg({'store':np.mean})

In [326]:
df_filtered.to_csv('../csv/for_analysis/kameiten_pref.csv', index = True, header=True)

In [327]:
final_df = pd.read_csv('../csv/for_analysis/kameiten_pref.csv')

In [328]:
final_df.head(10)

    pref store_type     payment_type industry_type  quarter         store
0  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類        1   5343.555556
1  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類        4   3157.444444
2  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類        1   5379.666667
3  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類        4   3409.222222
4  三重県小計     合計_店区分   クレジットカード　利用可能店       合計_業種分類        1   9605.444444
5  三重県小計     合計_店区分   クレジットカード　利用可能店       合計_業種分類        4   6884.777778
6  三重県小計     合計_店区分          合計_決済手段       合計_業種分類        1  12716.111111
7  三重県小計     合計_店区分          合計_決済手段       合計_業種分類        4   8732.444444
8  三重県小計       固定店舗      QRコード　利用可能店      その他サービス業        1   1509.000000
9  三重県小計       固定店舗      QRコード　利用可能店      その他サービス業        4    771.777778

In [329]:
final_df.shape

(2256, 6)

In [330]:
for i in range(2256):
    pref_string = final_df.iloc[i,0]
    store_type_str = final_df.iloc[i,1]
    final_df.iloc[i,0] = pref_string.replace('小計','')
#     final_df.iloc[i,1] = store_type_str.replace('合計','Total')
#     final_df.iloc[i,1] = store_type_str.replace('固定店舗','Kotei')
#     final_df.iloc[i,1] = store_type_str.replace('移動販売等（タクシー、屋台など）','Idou')
#     final_df.iloc[i,1] = store_type_str.replace('通信販売','Tsu-shin')

In [331]:
final_df.head(10)

  pref store_type     payment_type industry_type  quarter         store
0  三重県     合計_店区分      QRコード　利用可能店       合計_業種分類        1   5343.555556
1  三重県     合計_店区分      QRコード　利用可能店       合計_業種分類        4   3157.444444
2  三重県     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類        1   5379.666667
3  三重県     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類        4   3409.222222
4  三重県     合計_店区分   クレジットカード　利用可能店       合計_業種分類        1   9605.444444
5  三重県     合計_店区分   クレジットカード　利用可能店       合計_業種分類        4   6884.777778
6  三重県     合計_店区分          合計_決済手段       合計_業種分類        1  12716.111111
7  三重県     合計_店区分          合計_決済手段       合計_業種分類        4   8732.444444
8  三重県       固定店舗      QRコード　利用可能店      その他サービス業        1   1509.000000
9  三重県       固定店舗      QRコード　利用可能店      その他サービス業        4    771.777778

In [332]:
prefs = ["Hokkaido",'Aomori','Iwate','Miyagi','Akita','Yamagata','Fukushima','Ibaraki','Tochigi',
                 'Gumma','Saitama','Chiba','Tokyo','Kanagawa','Niigata','Toyama','Ishikawa','Fukui',
                 'Yamanashi','Nagano','Gifu','Shizuoka','Aichi','Mie','Shiga','Kyoto','Osaka','Hyogo','Nara',
                 'Wakayama','Tottori','Shimane','Okayama','Hiroshima','Yamaguchi',
                 'Tokushima','Kagawa','Ehime','Kochi','Fukuoka','Saga','Nagasaki','Kumamoto','Oita','Miyazaki','Kagoshima','Okinawa']

In [333]:
pref_list_jpn = ['北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県','茨城県', '栃木県',
                 '群馬県', '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県',
                 '山梨県', '長野県', '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県',
                 '和歌山県', '鳥取県', '島根県', '岡山県', '広島県', '山口県',
                 '徳島県', '香川県', '愛媛県', '高知県', '福岡県', '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県']

In [334]:
res = {pref_list_jpn[i]: prefs[i] for i in range(len(pref_list_jpn))}

In [335]:
res

{'北海道': 'Hokkaido',
 '青森県': 'Aomori',
 '岩手県': 'Iwate',
 '宮城県': 'Miyagi',
 '秋田県': 'Akita',
 '山形県': 'Yamagata',
 '福島県': 'Fukushima',
 '茨城県': 'Ibaraki',
 '栃木県': 'Tochigi',
 '群馬県': 'Gumma',
 '埼玉県': 'Saitama',
 '千葉県': 'Chiba',
 '東京都': 'Tokyo',
 '神奈川県': 'Kanagawa',
 '新潟県': 'Niigata',
 '富山県': 'Toyama',
 '石川県': 'Ishikawa',
 '福井県': 'Fukui',
 '山梨県': 'Yamanashi',
 '長野県': 'Nagano',
 '岐阜県': 'Gifu',
 '静岡県': 'Shizuoka',
 '愛知県': 'Aichi',
 '三重県': 'Mie',
 '滋賀県': 'Shiga',
 '京都府': 'Kyoto',
 '大阪府': 'Osaka',
 '兵庫県': 'Hyogo',
 '奈良県': 'Nara',
 '和歌山県': 'Wakayama',
 '鳥取県': 'Tottori',
 '島根県': 'Shimane',
 '岡山県': 'Okayama',
 '広島県': 'Hiroshima',
 '山口県': 'Yamaguchi',
 '徳島県': 'Tokushima',
 '香川県': 'Kagawa',
 '愛媛県': 'Ehime',
 '高知県': 'Kochi',
 '福岡県': 'Fukuoka',
 '佐賀県': 'Saga',
 '長崎県': 'Nagasaki',
 '熊本県': 'Kumamoto',
 '大分県': 'Oita',
 '宮崎県': 'Miyazaki',
 '鹿児島県': 'Kagoshima',
 '沖縄県': 'Okinawa'}

In [336]:
for i in range(2256):
    final_df.iloc[i,0] = res[final_df.iloc[i,0]]

In [337]:
final_df.head(10)

  pref store_type     payment_type industry_type  quarter         store
0  Mie     合計_店区分      QRコード　利用可能店       合計_業種分類        1   5343.555556
1  Mie     合計_店区分      QRコード　利用可能店       合計_業種分類        4   3157.444444
2  Mie     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類        1   5379.666667
3  Mie     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類        4   3409.222222
4  Mie     合計_店区分   クレジットカード　利用可能店       合計_業種分類        1   9605.444444
5  Mie     合計_店区分   クレジットカード　利用可能店       合計_業種分類        4   6884.777778
6  Mie     合計_店区分          合計_決済手段       合計_業種分類        1  12716.111111
7  Mie     合計_店区分          合計_決済手段       合計_業種分類        4   8732.444444
8  Mie       固定店舗      QRコード　利用可能店      その他サービス業        1   1509.000000
9  Mie       固定店舗      QRコード　利用可能店      その他サービス業        4    771.777778