In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('../data/raw/kameiten-data.xlsx')

In [3]:
month_list = list(df.iloc[1,6:32])

In [4]:
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,ポイント還元事業の登録加盟店数の推移\n※本データは、ポイント還元事業に登録された決済事業者...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,都道府県,市区町村,加盟店区分,業種分類,利用可能な決済手段,2019/10/01,2019/10/11,2019/10/21,2019/11/01,...,2020/03/21,2020/04/01,2020/04/11,2020/04/21,2020/05/01,2020/05/11,2020/05/21,2020/06/01,2020/06/11,2020/06/21
2,NaN,北海道小計,NaN,NaN,NaN,NaN,25917,26484,30964,32043,...,50473,51144,51821,52710,52958,53536,53651,53792,53788,53783
3,NaN,北海道小計,NaN,NaN,NaN,クレジットカード 利用可能店,22249,22791,26396,27360,...,39239,39559,39988,40437,40564,41020,41116,41241,41232,41227
4,NaN,北海道小計,NaN,NaN,NaN,QRコード 利用可能店,7483,7766,9467,9772,...,21985,22548,23126,23853,24035,24283,24396,24477,24476,24473
5,NaN,北海道小計,NaN,NaN,NaN,その他電子マネー等 利用可能店,10445,10729,12272,12940,...,20232,20432,20741,21118,21258,21775,21866,22089,22080,22077
6,NaN,北海道小計,NaN,固定店舗,小売業,NaN,13907,14049,15983,16444,...,22141,22261,22445,22729,22780,22924,22947,22994,22996,22996
7,NaN,北海道小計,NaN,固定店舗,小売業,クレジットカード 利用可能店,12576,12728,14220,14688,...,18975,19064,19178,19317,19367,19475,19488,19532,19533,19533
8,NaN,北海道小計,NaN,固定店舗,小売業,QRコード 利用可能店,4904,4949,5715,5893,...,9766,9910,10081,10351,10387,10462,10498,10528,10529,10529
9,NaN,北海道小計,NaN,固定店舗,小売業,その他電子マネー等 利用可能店,6116,6175,6853,7095,...,9466,9535,9615,9746,9782,9973,9997,10063,10063,10064

In [5]:
list_store_type = []
list_industry_type = []
list_payment_type = []
list_pref = []
list_month = []
list_store_number = []


for i in range(2,42913):
    if type(df.iloc[i, 2]) == float:
        if type(df.iloc[i,3]) == float:
            store_type = "合計_店区分"
        else:
            store_type = df.iloc[i,3]

        if type(df.iloc[i,4]) == float:
            industry_type = "合計_業種分類"
        else:
            industry_type = df.iloc[i,4]
            
        if type(df.iloc[i,5]) == float:
            payment_type = "合計_決済手段"
        else:
            payment_type = df.iloc[i,5]
            
        pref = df.iloc[i,1]
        
        for j in range(6,32):
            month = month_list[j - 6]
            store_number = df.iloc[i,j]
            
            list_store_type.append(store_type)
            list_industry_type.append(industry_type)
            list_payment_type.append(payment_type)
            list_pref.append(pref)
            list_month.append(month)
            list_store_number.append(store_number)

In [6]:
data = {'pref': list_pref,
       'store_type': list_store_type,
        'payment_type': list_payment_type,
       'industry_type': list_industry_type,
       'month': list_month,
       'store': list_store_number}

In [7]:
# Convert the dictionary into DataFrame 
df_new = pd.DataFrame(data) 
  
# Observe the result 
df_new

df_new.to_csv('../csv/for_analysis/kameiten_pref.csv', index = False, header=True)

In [8]:
for i in range(29328):
    if df_new.iloc[i,4] == "2019/10/01" or df_new.iloc[i,4] == "2019/10/11" or df_new.iloc[i,4] == "2019/10/21":
        df_new.iloc[i,4] = 10
    
    elif df_new.iloc[i,4] == "2019/11/01" or df_new.iloc[i,4] == "2019/11/11" or df_new.iloc[i,4] == "2019/11/21":
        df_new.iloc[i,4] = 11
        
    elif df_new.iloc[i,4] == "2019/12/01" or df_new.iloc[i,4] == "2019/12/11" or df_new.iloc[i,4] == "2019/12/21":
        df_new.iloc[i,4] = 12
        
    elif df_new.iloc[i,4] == "2020/01/01" or df_new.iloc[i,4] == "2020/01/11" or df_new.iloc[i,4] == "2020/01/21":
        df_new.iloc[i,4] = 1
        
    elif df_new.iloc[i,4] == "2020/02/01" or df_new.iloc[i,4] == "2020/02/11" or df_new.iloc[i,4] == "2020/02/21":
        df_new.iloc[i,4] = 2
    
    elif df_new.iloc[i,4] == "2020/03/01" or df_new.iloc[i,4] == "2020/03/11" or df_new.iloc[i,4] == "2020/03/21":
        df_new.iloc[i,4] = 3
        
    elif df_new.iloc[i,4] == "2020/04/01" or df_new.iloc[i,4] == "2020/04/11" or df_new.iloc[i,4] == "2020/04/21":
        df_new.iloc[i,4] = 4
        
    elif df_new.iloc[i,4] == "2020/05/01" or df_new.iloc[i,4] == "2020/05/11" or df_new.iloc[i,4] == "2020/05/21":
        df_new.iloc[i,4] = 5
        
    elif df_new.iloc[i,4] == "2020/06/01" or df_new.iloc[i,4] == "2020/06/11":
        df_new.iloc[i,4] = 6
        
    else:
        print("Error")

In [9]:
for i in range(29328):
    df_new.iloc[i,5] = int(df_new.iloc[i,5])
    df_new.iloc[i,4] = int(df_new.iloc[i,4])

In [10]:
# authors = df.copy()
# authors = authors[['rating','name','author']].groupby('author').agg({'rating' : np.mean,
#                                                                   'name' : '|'.join})

In [11]:
copied_df = df_new.copy()
# grouped2=pd.to_numeric(datedatF['data1']).groupby(datedatF['key2'])
# grouped2.mean()

In [12]:
numeric = ['month','store']
copied_df[numeric] = copied_df[numeric].apply(pd.to_numeric, errors='coerce')

In [13]:
copied_df = copied_df.groupby(['pref','store_type','payment_type','industry_type','month']).agg({'store':np.mean})

In [14]:
copied_df.to_csv('../csv/for_analysis/kameiten_pref.csv', index = True, header=True)

In [15]:
imported_df = pd.read_csv('../csv/for_analysis/kameiten_pref.csv')

In [16]:
imported_df.head(5)

    pref store_type payment_type industry_type  month        store
0  三重県小計     合計_店区分  QRコード　利用可能店       合計_業種分類      1  4828.000000
1  三重県小計     合計_店区分  QRコード　利用可能店       合計_業種分類      2  5385.666667
2  三重県小計     合計_店区分  QRコード　利用可能店       合計_業種分類      3  5817.000000
3  三重県小計     合計_店区分  QRコード　利用可能店       合計_業種分類      4  6205.333333
4  三重県小計     合計_店区分  QRコード　利用可能店       合計_業種分類      5  6395.000000

In [17]:
df_filtered = imported_df[(imported_df['month'] == 10) | (imported_df['month'] == 11) | (imported_df['month'] == 12) | (imported_df['month'] == 1) | (imported_df['month'] == 2) | (imported_df['month'] == 3)]

In [18]:
df_filtered.head(10)

     pref store_type     payment_type industry_type  month        store
0   三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類      1  4828.000000
1   三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類      2  5385.666667
2   三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類      3  5817.000000
6   三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類     10  2150.000000
7   三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類     11  2969.000000
8   三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類     12  4353.333333
9   三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類      1  4686.333333
10  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類      2  5472.333333
11  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類      3  5980.333333
15  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類     10  2589.000000

In [19]:
df_filtered.to_csv('../csv/for_analysis/kameiten_pref.csv', index = False, header=True)

In [20]:
df_filtered.dtypes

pref              object
store_type        object
payment_type      object
industry_type     object
month              int64
store            float64
dtype: object

In [21]:
df_filtered = df_filtered.reset_index(drop=True)

In [22]:
df_filtered.head(10)

    pref store_type     payment_type industry_type  month        store
0  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類      1  4828.000000
1  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類      2  5385.666667
2  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類      3  5817.000000
3  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類     10  2150.000000
4  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類     11  2969.000000
5  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類     12  4353.333333
6  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類      1  4686.333333
7  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類      2  5472.333333
8  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類      3  5980.333333
9  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類     10  2589.000000

In [23]:
list_quarters = []

for i in range(6768):
    if df_filtered.iloc[i,4] == 10 or df_filtered.iloc[i,4] == 11 or df_filtered.iloc[i,4] == 12:
        quarter = 4
        list_quarters.append(quarter)
    elif df_filtered.iloc[i,4] == 1 or df_filtered.iloc[i,4] == 2 or df_filtered.iloc[i,4] == 3:
        quarter = 1
        list_quarters.append(quarter)
    else:
        print("error")

In [24]:
len(list_quarters)

6768

In [25]:
df_filtered["quarter"] = list_quarters

In [26]:
df_filtered.head(10)

,pref,store_type,payment_type,industry_type,month,store,quarter
0,三重県小計,合計_店区分,QRコード 利用可能店,合計_業種分類,1,4828.000000,1
1,三重県小計,合計_店区分,QRコード 利用可能店,合計_業種分類,2,5385.666667,1
2,三重県小計,合計_店区分,QRコード 利用可能店,合計_業種分類,3,5817.000000,1
3,三重県小計,合計_店区分,QRコード 利用可能店,合計_業種分類,10,2150.000000,4
4,三重県小計,合計_店区分,QRコード 利用可能店,合計_業種分類,11,2969.000000,4
5,三重県小計,合計_店区分,QRコード 利用可能店,合計_業種分類,12,4353.333333,4
6,三重県小計,合計_店区分,その他電子マネー等 利用可能店,合計_業種分類,1,4686.333333,1
7,三重県小計,合計_店区分,その他電子マネー等 利用可能店,合計_業種分類,2,5472.333333,1
8,三重県小計,合計_店区分,その他電子マネー等 利用可能店,合計_業種分類,3,5980.333333,1
9,三重県小計,合計_店区分,その他電子マネー等 利用可能店,合計_業種分類,10,2589.000000,4

In [27]:
df_filtered = df_filtered.groupby(['pref','store_type','payment_type','industry_type','quarter']).agg({'store':np.mean})

In [28]:
df_filtered.to_csv('../csv/for_analysis/kameiten_pref.csv', index = True, header=True)

In [29]:
final_df = pd.read_csv('../csv/for_analysis/kameiten_pref.csv')

In [30]:
final_df.head(10)

    pref store_type     payment_type industry_type  quarter         store
0  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類        1   5343.555556
1  三重県小計     合計_店区分      QRコード　利用可能店       合計_業種分類        4   3157.444444
2  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類        1   5379.666667
3  三重県小計     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類        4   3409.222222
4  三重県小計     合計_店区分   クレジットカード　利用可能店       合計_業種分類        1   9605.444444
5  三重県小計     合計_店区分   クレジットカード　利用可能店       合計_業種分類        4   6884.777778
6  三重県小計     合計_店区分          合計_決済手段       合計_業種分類        1  12716.111111
7  三重県小計     合計_店区分          合計_決済手段       合計_業種分類        4   8732.444444
8  三重県小計       固定店舗      QRコード　利用可能店      その他サービス業        1   1509.000000
9  三重県小計       固定店舗      QRコード　利用可能店      その他サービス業        4    771.777778

In [31]:
final_df.shape

(2256, 6)

In [32]:
for i in range(2256):
    pref_string = final_df.iloc[i,0]
    store_type_str = final_df.iloc[i,1]
    final_df.iloc[i,0] = pref_string.replace('小計','')
#     final_df.iloc[i,1] = store_type_str.replace('合計','Total')
#     final_df.iloc[i,1] = store_type_str.replace('固定店舗','Kotei')
#     final_df.iloc[i,1] = store_type_str.replace('移動販売等（タクシー、屋台など）','Idou')
#     final_df.iloc[i,1] = store_type_str.replace('通信販売','Tsu-shin')

In [33]:
final_df.head(10)

  pref store_type     payment_type industry_type  quarter         store
0  三重県     合計_店区分      QRコード　利用可能店       合計_業種分類        1   5343.555556
1  三重県     合計_店区分      QRコード　利用可能店       合計_業種分類        4   3157.444444
2  三重県     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類        1   5379.666667
3  三重県     合計_店区分  その他電子マネー等　利用可能店       合計_業種分類        4   3409.222222
4  三重県     合計_店区分   クレジットカード　利用可能店       合計_業種分類        1   9605.444444
5  三重県     合計_店区分   クレジットカード　利用可能店       合計_業種分類        4   6884.777778
6  三重県     合計_店区分          合計_決済手段       合計_業種分類        1  12716.111111
7  三重県     合計_店区分          合計_決済手段       合計_業種分類        4   8732.444444
8  三重県       固定店舗      QRコード　利用可能店      その他サービス業        1   1509.000000
9  三重県       固定店舗      QRコード　利用可能店      その他サービス業        4    771.777778

In [34]:
prefs = ["Hokkaido",'Aomori','Iwate','Miyagi','Akita','Yamagata','Fukushima','Ibaraki','Tochigi',
                 'Gumma','Saitama','Chiba','Tokyo','Kanagawa','Niigata','Toyama','Ishikawa','Fukui',
                 'Yamanashi','Nagano','Gifu','Shizuoka','Aichi','Mie','Shiga','Kyoto','Osaka','Hyogo','Nara',
                 'Wakayama','Tottori','Shimane','Okayama','Hiroshima','Yamaguchi',
                 'Tokushima','Kagawa','Ehime','Kochi','Fukuoka','Saga','Nagasaki','Kumamoto','Oita','Miyazaki','Kagoshima','Okinawa']

In [35]:
pref_list_jpn = ['北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県','茨城県', '栃木県',
                 '群馬県', '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県',
                 '山梨県', '長野県', '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県',
                 '和歌山県', '鳥取県', '島根県', '岡山県', '広島県', '山口県',
                 '徳島県', '香川県', '愛媛県', '高知県', '福岡県', '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県']

In [36]:
res = {pref_list_jpn[i]: prefs[i] for i in range(len(pref_list_jpn))}

In [37]:
res

{'北海道': 'Hokkaido',
 '青森県': 'Aomori',
 '岩手県': 'Iwate',
 '宮城県': 'Miyagi',
 '秋田県': 'Akita',
 '山形県': 'Yamagata',
 '福島県': 'Fukushima',
 '茨城県': 'Ibaraki',
 '栃木県': 'Tochigi',
 '群馬県': 'Gumma',
 '埼玉県': 'Saitama',
 '千葉県': 'Chiba',
 '東京都': 'Tokyo',
 '神奈川県': 'Kanagawa',
 '新潟県': 'Niigata',
 '富山県': 'Toyama',
 '石川県': 'Ishikawa',
 '福井県': 'Fukui',
 '山梨県': 'Yamanashi',
 '長野県': 'Nagano',
 '岐阜県': 'Gifu',
 '静岡県': 'Shizuoka',
 '愛知県': 'Aichi',
 '三重県': 'Mie',
 '滋賀県': 'Shiga',
 '京都府': 'Kyoto',
 '大阪府': 'Osaka',
 '兵庫県': 'Hyogo',
 '奈良県': 'Nara',
 '和歌山県': 'Wakayama',
 '鳥取県': 'Tottori',
 '島根県': 'Shimane',
 '岡山県': 'Okayama',
 '広島県': 'Hiroshima',
 '山口県': 'Yamaguchi',
 '徳島県': 'Tokushima',
 '香川県': 'Kagawa',
 '愛媛県': 'Ehime',
 '高知県': 'Kochi',
 '福岡県': 'Fukuoka',
 '佐賀県': 'Saga',
 '長崎県': 'Nagasaki',
 '熊本県': 'Kumamoto',
 '大分県': 'Oita',
 '宮崎県': 'Miyazaki',
 '鹿児島県': 'Kagoshima',
 '沖縄県': 'Okinawa'}

In [38]:
for i in range(2256):
    final_df.iloc[i,0] = res[final_df.iloc[i,0]]

In [39]:
final_df.head(50)

,pref,store_type,payment_type,industry_type,quarter,store
0,Mie,合計_店区分,QRコード 利用可能店,合計_業種分類,1,5343.555556
1,Mie,合計_店区分,QRコード 利用可能店,合計_業種分類,4,3157.444444
2,Mie,合計_店区分,その他電子マネー等 利用可能店,合計_業種分類,1,5379.666667
3,Mie,合計_店区分,その他電子マネー等 利用可能店,合計_業種分類,4,3409.222222
4,Mie,合計_店区分,クレジットカード 利用可能店,合計_業種分類,1,9605.444444
5,Mie,合計_店区分,クレジットカード 利用可能店,合計_業種分類,4,6884.777778
6,Mie,合計_店区分,合計_決済手段,合計_業種分類,1,12716.111111
7,Mie,合計_店区分,合計_決済手段,合計_業種分類,4,8732.444444
8,Mie,固定店舗,QRコード 利用可能店,その他サービス業,1,1509.000000
9,Mie,固定店舗,QRコード 利用可能店,その他サービス業,4,771.777778
10,Mie,固定店舗,QRコード 利用可能店,小売業,1,2604.444444
11,Mie,固定店舗,QRコード 利用可能店,小売業,4,1750.777778
12,Mie,固定店舗,QRコード 利用可能店,飲食業,1,1056.555556
13,Mie,固定店舗,QRコード 利用可能店,飲食業,4,542.111111
14,Mie,固定店舗,その他電子マネー等 利用可能店,その他サービス業,1,1242.222222
15,Mie,固定店舗,その他電子マネー等 利用可能店,その他サービス業,4,711.222222
16,Mie,固定店舗,その他電子マネー等 利用可能店,小売業,1,2540.111111
17,Mie,固定店舗,その他電子マネー等 利用可能店,小売業,4,1723.666667
18,Mie,固定店舗,その他電子マネー等 利用可能店,飲食業,1,875.444444
19,Mie,固定店舗,その他電子マネー等 利用可能店,飲食業,4,455.777778
20,Mie,固定店舗,クレジットカード 利用可能店,その他サービス業,1,2293.777778
21,Mie,固定店舗,クレジットカード 利用可能店,その他サービス業,4,1546.555556
22,Mie,固定店舗,クレジットカード 利用可能店,小売業,1,5126.666667
23,Mie,固定店舗,クレジットカード 利用可能店,小売業,4,3817.444444
24,Mie,固定店舗,クレジットカード 利用可能店,飲食業,1,1488.444444
25,Mie,固定店舗,クレジットカード 利用可能店,飲食業,4,996.222222
26,Mie,固定店舗,合計_決済手段,その他サービス業,1,3108.333333
27,Mie,固定店舗,合計_決済手段,その他サービス業,4,1957.000000
28,Mie,固定店舗,合計_決済手段,小売業,1,6074.222222
29,Mie,固定店舗,合計_決済手段,小売業,4,4389.222222
30,Mie,固定店舗,合計_決済手段,飲食業,1,2155.111111
31,Mie,固定店舗,合計_決済手段,飲食業,4,1360.555556
32,Mie,移動販売等（タクシー、屋台など）,QRコード 利用可能店,合計_業種分類,1,125.777778
33,Mie,移動販売等（タクシー、屋台など）,QRコード 利用可能店,合計_業種分類,4,62.888889
34,Mie,移動販売等（タクシー、屋台など）,その他電子マネー等 利用可能店,合計_業種分類,1,83.777778
35,Mie,移動販売等（タクシー、屋台など）,その他電子マネー等 利用可能店,合計_業種分類,4,39.888889
36,Mie,移動販売等（タクシー、屋台など）,クレジットカード 利用可能店,合計_業種分類,1,132.777778
37,Mie,移動販売等（タクシー、屋台など）,クレジットカード 利用可能店,合計_業種分類,4,74.333333
38,Mie,移動販売等（タクシー、屋台など）,合計_決済手段,合計_業種分類,1,210.777778
39,Mie,移動販売等（タクシー、屋台など）,合計_決済手段,合計_業種分類,4,120.333333
40,Mie,通信販売,QRコード 利用可能店,合計_業種分類,1,47.777778
41,Mie,通信販売,QRコード 利用可能店,合計_業種分類,4,29.888889
42,Mie,通信販売,その他電子マネー等 利用可能店,合計_業種分類,1,638.111111
43,Mie,通信販売,その他電子マネー等 利用可能店,合計_業種分類,4,478.666667
44,Mie,通信販売,クレジットカード 利用可能店,合計_業種分類,1,563.777778
45,Mie,通信販売,クレジットカード 利用可能店,合計_業種分類,4,450.222222
46,Mie,通信販売,合計_決済手段,合計_業種分類,1,1167.666667
47,Mie,通信販売,合計_決済手段,合計_業種分類,4,905.333333
48,Kyoto,合計_店区分,QRコード 利用可能店,合計_業種分類,1,10491.111111
49,Kyoto,合計_店区分,QRコード 利用可能店,合計_業種分類,4,5877.555556

In [40]:
final_df.iloc[33,1]

'移動販売等（タクシー、屋台など）'

In [41]:
total_qr_total = []
total_other_total = []
total_credit_total = []
total_total_total = []

kotei_qr_other = []
kotei_qr_kouri = []
kotei_qr_inshoku = []

kotei_other_other = []
kotei_other_kouri = []
kotei_other_inshoku = []

kotei_credit_other = []
kotei_credit_kouri = []
kotei_credit_inshoku = []

kotei_total_other = []
kotei_total_kouri = []
kotei_total_inshoku = []

idou_qr_total = []
idou_other_total = []
idou_credit_total = []
idou_total_total = []

tsushin_qr_total = []
tsushin_other_total = []
tsushin_credit_total = []
tsushin_total_total = []

pref_list_2 = []
quarter_list = []

In [42]:
for i in range(2256):
    if final_df.iloc[i,1] == final_df.iloc[0,1] and final_df.iloc[i,2] == final_df.iloc[0,2] and final_df.iloc[i,3] == final_df.iloc[0,3]:
        total_qr_total.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[2,1] and final_df.iloc[i,2] == final_df.iloc[2,2] and final_df.iloc[i,3] == final_df.iloc[2,3]:
        total_other_total.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[4,1] and final_df.iloc[i,2] == final_df.iloc[4,2] and final_df.iloc[i,3] == final_df.iloc[4,3]:
        total_credit_total.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[6,1] and final_df.iloc[i,2] == final_df.iloc[6,2] and final_df.iloc[i,3] == final_df.iloc[6,3]:
        total_total_total.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[8,1] and final_df.iloc[i,2] == final_df.iloc[8,2] and final_df.iloc[i,3] == final_df.iloc[8,3]:
        kotei_qr_other.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[10,1] and final_df.iloc[i,2] == final_df.iloc[10,2] and final_df.iloc[i,3] == final_df.iloc[10,3]:
        kotei_qr_kouri.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[12,1] and final_df.iloc[i,2] == final_df.iloc[12,2] and final_df.iloc[i,3] == final_df.iloc[12,3]:
        kotei_qr_inshoku.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[14,1] and final_df.iloc[i,2] == final_df.iloc[14,2] and final_df.iloc[i,3] == final_df.iloc[14,3]:
        kotei_other_other.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[16,1] and final_df.iloc[i,2] == final_df.iloc[16,2] and final_df.iloc[i,3] == final_df.iloc[16,3]:
        kotei_other_kouri.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[18,1] and final_df.iloc[i,2] == final_df.iloc[18,2] and final_df.iloc[i,3] == final_df.iloc[18,3]:
        kotei_other_inshoku.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[20,1] and final_df.iloc[i,2] == final_df.iloc[20,2] and final_df.iloc[i,3] == final_df.iloc[20,3]:
        kotei_credit_other.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[22,1] and final_df.iloc[i,2] == final_df.iloc[22,2] and final_df.iloc[i,3] == final_df.iloc[22,3]:
        kotei_credit_kouri.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[24,1] and final_df.iloc[i,2] == final_df.iloc[24,2] and final_df.iloc[i,3] == final_df.iloc[24,3]:
        kotei_credit_inshoku.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[26,1] and final_df.iloc[i,2] == final_df.iloc[26,2] and final_df.iloc[i,3] == final_df.iloc[26,3]:
        kotei_total_other.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[28,1] and final_df.iloc[i,2] == final_df.iloc[28,2] and final_df.iloc[i,3] == final_df.iloc[28,3]:
        kotei_total_kouri.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[30,1] and final_df.iloc[i,2] == final_df.iloc[30,2] and final_df.iloc[i,3] == final_df.iloc[30,3]:
        kotei_total_inshoku.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[32,1] and final_df.iloc[i,2] == final_df.iloc[32,2] and final_df.iloc[i,3] == final_df.iloc[32,3]:
        idou_qr_total.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[34,1] and final_df.iloc[i,2] == final_df.iloc[34,2] and final_df.iloc[i,3] == final_df.iloc[34,3]:
        idou_other_total.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[36,1] and final_df.iloc[i,2] == final_df.iloc[36,2] and final_df.iloc[i,3] == final_df.iloc[36,3]:
        idou_credit_total.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[38,1] and final_df.iloc[i,2] == final_df.iloc[38,2] and final_df.iloc[i,3] == final_df.iloc[38,3]:
        idou_total_total.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[40,1] and final_df.iloc[i,2] == final_df.iloc[40,2] and final_df.iloc[i,3] == final_df.iloc[40,3]:
        tsushin_qr_total.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[42,1] and final_df.iloc[i,2] == final_df.iloc[42,2] and final_df.iloc[i,3] == final_df.iloc[42,3]:
        tsushin_other_total.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[44,1] and final_df.iloc[i,2] == final_df.iloc[44,2] and final_df.iloc[i,3] == final_df.iloc[44,3]:
        tsushin_credit_total.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    elif final_df.iloc[i,1] == final_df.iloc[46,1] and final_df.iloc[i,2] == final_df.iloc[46,2] and final_df.iloc[i,3] == final_df.iloc[46,3]:
        tsushin_total_total.append(final_df.iloc[i,5])
        pref_list_2.append(final_df.iloc[i,0])
        quarter_list.append(final_df.iloc[i,4])
        
    else:
        print("error")

In [43]:
data_kameiten = {
#     'pref': pref_list_2,
#     'quarter': quarter_list,
    'total_qr_total': total_qr_total,
    'total_other_total': total_other_total,
    'total_credit_total': total_credit_total,
    'total_total_total': total_total_total,
    'kotei_qr_other': kotei_qr_other,
    'kotei_qr_kouri': kotei_qr_kouri,
    'kotei_qr_inshoku': kotei_qr_inshoku,
    'kotei_other_other': kotei_other_other,
    'kotei_other_kouri': kotei_other_kouri,
    'kotei_other_inshoku': kotei_other_inshoku,
    'kotei_credit_other': kotei_credit_other,
    'kotei_credit_kouri': kotei_credit_kouri,
    'kotei_credit_inshoku': kotei_credit_inshoku,
    'kotei_total_other': kotei_total_other,
    'kotei_total_kouri': kotei_total_kouri,
    'kotei_total_inshoku': kotei_total_inshoku,
    'idou_qr_total': idou_qr_total,
    'idou_other_total': idou_other_total,
    'idou_credit_total': idou_credit_total,
    'idou_total_total': idou_total_total,
    'tsushin_qr_total': tsushin_qr_total,
    'tsushin_other_total': tsushin_other_total,
    'tsushin_credit_total': tsushin_credit_total,
    'tsushin_total_total': tsushin_total_total
}

In [44]:
# Convert the dictionary into DataFrame 
df_kameiten_ari = pd.DataFrame(data_kameiten) 

df_kameiten_ari.to_csv('../csv/for_analysis/kameiten_pref.csv', index = False, header=True)

In [45]:
final_df.shape

(2256, 6)

In [46]:
pref_list_order = []

for i in range(0,2256,47):
    pref_list_order.append(final_df.iloc[i,0])

In [47]:
len(pref_list_order)

48

In [48]:
del pref_list_order[0]

In [49]:
len(pref_list_order)

47

In [50]:
pref_list_df = []

for i in range(47):
    pref_name = pref_list_order[i]
    pref_list_df.append(pref_name)
    pref_list_df.append(pref_name)

In [51]:
quarter_list_df = []

for i in range(47):
    quarter_list_df.append(1)
    quarter_list_df.append(4)

In [52]:
len(quarter_list_df)

94

In [53]:
data_kameiten = {
    'pref': pref_list_df,
    'quarter': quarter_list_df,
    'total_qr_total': total_qr_total,
    'total_other_total': total_other_total,
    'total_credit_total': total_credit_total,
    'total_total_total': total_total_total,
    'kotei_qr_other': kotei_qr_other,
    'kotei_qr_kouri': kotei_qr_kouri,
    'kotei_qr_inshoku': kotei_qr_inshoku,
    'kotei_other_other': kotei_other_other,
    'kotei_other_kouri': kotei_other_kouri,
    'kotei_other_inshoku': kotei_other_inshoku,
    'kotei_credit_other': kotei_credit_other,
    'kotei_credit_kouri': kotei_credit_kouri,
    'kotei_credit_inshoku': kotei_credit_inshoku,
    'kotei_total_other': kotei_total_other,
    'kotei_total_kouri': kotei_total_kouri,
    'kotei_total_inshoku': kotei_total_inshoku,
    'idou_qr_total': idou_qr_total,
    'idou_other_total': idou_other_total,
    'idou_credit_total': idou_credit_total,
    'idou_total_total': idou_total_total,
    'tsushin_qr_total': tsushin_qr_total,
    'tsushin_other_total': tsushin_other_total,
    'tsushin_credit_total': tsushin_credit_total,
    'tsushin_total_total': tsushin_total_total
}

In [54]:
# Convert the dictionary into DataFrame 
df_kameiten_ari = pd.DataFrame(data_kameiten) 

df_kameiten_ari.to_csv('../csv/for_analysis/kameiten_pref.csv', index = False, header=True)

In [55]:
# df_main = pd.read_stata('../csv/for_analysis/main.dta')

In [56]:
df_main

,v1,year,quarter,pref,item,answers,consumption,q2,q3,q4,project,time_id,pref_id
0,0,2018,1,Hokkaido,Group Package,637,151043.640625,0.0,0.0,0.0,0.0,0.0,12.0
1,1,2018,1,Aomori,Group Package,12,133212.609375,0.0,0.0,0.0,0.0,0.0,3.0
2,2,2018,1,Iwate,Group Package,16,145751.765625,0.0,0.0,0.0,0.0,0.0,16.0
3,3,2018,1,Miyagi,Group Package,58,150746.859375,0.0,0.0,0.0,0.0,0.0,24.0
4,4,2018,1,Akita,Group Package,14,151616.234375,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5071,5071,2020,1,Kumamoto,Others,4,1258.254639,0.0,0.0,0.0,1.0,8.0,21.0
5072,5072,2020,1,Oita,Others,3,1126.779663,0.0,0.0,0.0,1.0,8.0,30.0
5073,5073,2020,1,Miyazaki,Others,0,0.000000,0.0,0.0,0.0,1.0,8.0,25.0
5074,5074,2020,1,Kagoshima,Others,6,807.699890,0.0,0.0,0.0,1.0,8.0,18.0
5075,5075,2020,1,Okinawa,Others,6,2488.048096,0.0,0.0,0.0,1.0,8.0,32.0

In [57]:
df_for_stata = pd.merge(df_main, df_kameiten_ari, how='left', on=['pref','quarter'])

In [58]:
pd.set_option('display.max_columns', None)
df_for_stata

,v1,year,quarter,pref,item,answers,consumption,q2,q3,q4,project,time_id,pref_id,total_qr_total,total_other_total,total_credit_total,total_total_total,kotei_qr_other,kotei_qr_kouri,kotei_qr_inshoku,kotei_other_other,kotei_other_kouri,kotei_other_inshoku,kotei_credit_other,kotei_credit_kouri,kotei_credit_inshoku,kotei_total_other,kotei_total_kouri,kotei_total_inshoku,idou_qr_total,idou_other_total,idou_credit_total,idou_total_total,tsushin_qr_total,tsushin_other_total,tsushin_credit_total,tsushin_total_total
0,0,2018,1,Hokkaido,Group Package,637,151043.640625,0.0,0.0,0.0,0.0,0.0,12.0,19591.888889,19071.444444,37865.666667,47784.666667,4749.666667,8963.777778,3859.111111,4372.111111,9021.777778,3334.111111,9876.222222,18542.444444,6313.111111,11950.000000,21365.444444,8227.555556,1924.777778,689.666667,1211.333333,2742.777778,94.555556,1653.777778,1922.555556,3498.888889
1,1,2018,1,Aomori,Group Package,12,133212.609375,0.0,0.0,0.0,0.0,0.0,3.0,4110.333333,3233.333333,5832.000000,8239.222222,987.888889,1876.888889,673.111111,620.888889,1775.888889,457.333333,1250.888889,3331.222222,765.333333,1825.222222,4022.555556,1149.222222,482.222222,85.555556,166.444444,581.888889,90.222222,293.666667,318.111111,660.333333
2,2,2018,1,Iwate,Group Package,16,145751.765625,0.0,0.0,0.0,0.0,0.0,16.0,4740.222222,3548.222222,5764.555556,8647.777778,1257.222222,2094.000000,872.222222,844.666667,1861.111111,523.555556,1430.222222,3113.888889,792.333333,2140.111111,4038.777778,1371.777778,359.444444,72.111111,148.333333,454.888889,157.333333,246.777778,279.777778,642.222222
3,3,2018,1,Miyagi,Group Package,58,150746.859375,0.0,0.0,0.0,0.0,0.0,24.0,7031.000000,8102.000000,12844.222222,16630.333333,1772.222222,3133.000000,1540.000000,1852.000000,3812.666667,1462.888889,3266.333333,5675.222222,2571.444444,4058.888889,6775.333333,3419.000000,527.777778,294.777778,610.444444,1003.222222,58.000000,679.666667,720.777778,1373.888889
4,4,2018,1,Akita,Group Package,14,151616.234375,0.0,0.0,0.0,0.0,0.0,2.0,2936.555556,2816.000000,4937.222222,6603.111111,704.444444,1394.111111,537.666667,649.888889,1434.888889,434.111111,1214.111111,2654.777778,737.333333,1569.888889,3168.555556,1053.666667,272.888889,54.666667,83.444444,332.222222,27.444444,242.444444,247.555556,478.777778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5071,5071,2020,1,Kumamoto,Others,4,1258.254639,0.0,0.0,0.0,1.0,8.0,21.0,5834.000000,6096.111111,10633.444444,13771.666667,1456.888889,2657.666667,1218.111111,1392.555556,3043.777778,992.888889,2427.666667,5601.777778,1650.000000,3128.444444,6507.222222,2278.444444,477.777778,109.555556,223.333333,611.666667,23.555556,557.333333,730.666667,1245.888889
5072,5072,2020,1,Oita,Others,3,1126.779663,0.0,0.0,0.0,1.0,8.0,30.0,3715.222222,3612.555556,7005.111111,9062.222222,879.333333,1746.333333,793.111111,887.777778,1634.888889,613.111111,1823.666667,3502.333333,1146.888889,2198.444444,4161.666667,1550.000000,282.111111,60.444444,187.000000,409.888889,14.333333,416.333333,345.222222,742.222222
5073,5073,2020,1,Miyazaki,Others,0,0.000000,0.0,0.0,0.0,1.0,8.0,25.0,4447.111111,3106.333333,5688.777778,8407.666667,907.666667,1755.333333,993.111111,686.444444,1510.888889,581.444444,1156.000000,3100.111111,931.333333,1647.111111,3750.444444,1519.777778,777.000000,61.888889,96.111111,837.777778,14.000000,265.666667,405.222222,652.555556
5074,5074,2020,1,Kagoshima,Others,6,807.699890,0.0,0.0,0.0,1.0,8.0,18.0,6974.111111,5509.555556,9403.111111,13341.444444,1801.000000,3237.000000,1526.666667,1269.111111,2758.555556,911.888889,2269.000000,4814.444444,1396.111111,3237.666667,6121.222222,2325.333333,357.111111,86.111111,367.444444,654.000000,52.333333,483.888889,556.111111,1003.222222
5075,5075,2020,1,Okinawa,Others,6,2488.048096,0.0,0.0,0.0,1.0,8.0,32.0,4070.111111,6745.555556,10716.111111,12877.555556,950.666667,1709.000000,981.444444,1830.444444,2621.444444,1619.333333,3325.000000,3920.333333,2681.555556,3736.222222,4507.888889,3063.333333,418.888889,203.444444,449.555556,783.111111,10.111111,470.888889,339.666667,787.000000

In [59]:
for i in range(5076):
    if df_for_stata.iloc[i,1] == 2018:
        df_for_stata.iloc[i,13:] = 0

In [60]:
df_for_stata

,v1,year,quarter,pref,item,answers,consumption,q2,q3,q4,project,time_id,pref_id,total_qr_total,total_other_total,total_credit_total,total_total_total,kotei_qr_other,kotei_qr_kouri,kotei_qr_inshoku,kotei_other_other,kotei_other_kouri,kotei_other_inshoku,kotei_credit_other,kotei_credit_kouri,kotei_credit_inshoku,kotei_total_other,kotei_total_kouri,kotei_total_inshoku,idou_qr_total,idou_other_total,idou_credit_total,idou_total_total,tsushin_qr_total,tsushin_other_total,tsushin_credit_total,tsushin_total_total
0,0,2018,1,Hokkaido,Group Package,637,151043.640625,0.0,0.0,0.0,0.0,0.0,12.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,2018,1,Aomori,Group Package,12,133212.609375,0.0,0.0,0.0,0.0,0.0,3.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2,2018,1,Iwate,Group Package,16,145751.765625,0.0,0.0,0.0,0.0,0.0,16.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,3,2018,1,Miyagi,Group Package,58,150746.859375,0.0,0.0,0.0,0.0,0.0,24.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,4,2018,1,Akita,Group Package,14,151616.234375,0.0,0.0,0.0,0.0,0.0,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5071,5071,2020,1,Kumamoto,Others,4,1258.254639,0.0,0.0,0.0,1.0,8.0,21.0,5834.000000,6096.111111,10633.444444,13771.666667,1456.888889,2657.666667,1218.111111,1392.555556,3043.777778,992.888889,2427.666667,5601.777778,1650.000000,3128.444444,6507.222222,2278.444444,477.777778,109.555556,223.333333,611.666667,23.555556,557.333333,730.666667,1245.888889
5072,5072,2020,1,Oita,Others,3,1126.779663,0.0,0.0,0.0,1.0,8.0,30.0,3715.222222,3612.555556,7005.111111,9062.222222,879.333333,1746.333333,793.111111,887.777778,1634.888889,613.111111,1823.666667,3502.333333,1146.888889,2198.444444,4161.666667,1550.000000,282.111111,60.444444,187.000000,409.888889,14.333333,416.333333,345.222222,742.222222
5073,5073,2020,1,Miyazaki,Others,0,0.000000,0.0,0.0,0.0,1.0,8.0,25.0,4447.111111,3106.333333,5688.777778,8407.666667,907.666667,1755.333333,993.111111,686.444444,1510.888889,581.444444,1156.000000,3100.111111,931.333333,1647.111111,3750.444444,1519.777778,777.000000,61.888889,96.111111,837.777778,14.000000,265.666667,405.222222,652.555556
5074,5074,2020,1,Kagoshima,Others,6,807.699890,0.0,0.0,0.0,1.0,8.0,18.0,6974.111111,5509.555556,9403.111111,13341.444444,1801.000000,3237.000000,1526.666667,1269.111111,2758.555556,911.888889,2269.000000,4814.444444,1396.111111,3237.666667,6121.222222,2325.333333,357.111111,86.111111,367.444444,654.000000,52.333333,483.888889,556.111111,1003.222222
5075,5075,2020,1,Okinawa,Others,6,2488.048096,0.0,0.0,0.0,1.0,8.0,32.0,4070.111111,6745.555556,10716.111111,12877.555556,950.666667,1709.000000,981.444444,1830.444444,2621.444444,1619.333333,3325.000000,3920.333333,2681.555556,3736.222222,4507.888889,3063.333333,418.888889,203.444444,449.555556,783.111111,10.111111,470.888889,339.666667,787.000000

In [61]:
for i in range(5076):
    if df_for_stata.iloc[i,1] == 2019 and df_for_stata.iloc[i,2] != 4:
        df_for_stata.iloc[i,13:] = 0

In [62]:
# df_for_stata.to_stata('../csv/for_analysis/main2.dta')

In [ ]:
# total_total_total
df_for_stata.iloc[:,16]

In [ ]:
len(total_total_total)

In [ ]:
df_first2020 = df_for_stata[(df_for_stata["year"] == 2020) & (df_for_stata["item"] == "Others")]

In [ ]:
df_forth2019 = df_for_stata[(df_for_stata["year"] == 2019) & (df_for_stata["quarter"] == 4) & (df_for_stata["item"] == "Others")]

In [ ]:
df_forth2019.shape

In [ ]:
num_kamei_20194q = list(df_forth2019.iloc[:,16])

In [ ]:
num_kamei_20201q = list(df_first2020.iloc[:,16])

In [ ]:
num_kamei_ave = list((np.array(num_kamei_20194q) + np.array(num_kamei_20201q)) / 2)

In [ ]:
len(num_kamei_ave)

In [ ]:
num_kamei_ave

In [ ]:
df_pop = pd.read_csv('../data/FEH_00200524_201018100057.csv', encoding = "shift_jis")

In [ ]:
# prefs = ["Hokkaido",'Aomori','Iwate','Miyagi','Akita','Yamagata','Fukushima','Ibaraki','Tochigi',
#                  'Gumma','Saitama','Chiba','Tokyo','Kanagawa','Niigata','Toyama','Ishikawa','Fukui',
#                  'Yamanashi','Nagano','Gifu','Shizuoka','Aichi','Mie','Shiga','Kyoto','Osaka','Hyogo','Nara',
#                  'Wakayama','Tottori','Shimane','Okayama','Hiroshima','Yamaguchi',
#                  'Tokushima','Kagawa','Ehime','Kochi','Fukuoka','Saga','Nagasaki','Kumamoto','Oita','Miyazaki','Kagoshima','Okinawa']

In [ ]:
pref_pop_list = list(df_pop.iloc[:,9])

In [ ]:
# 単位は千人

In [ ]:
kamei_per_capita = list(np.array(num_kamei_ave) / np.array(pref_pop_list))

In [ ]:
len(kamei_per_capita)

In [ ]:
prefs

In [ ]:
data_kameiten_per_capita = {
    'pref': prefs,
    'kamei_per_capita': kamei_per_capita
}

In [ ]:
# Convert the dictionary into DataFrame 
df_kameiten_per_capita = pd.DataFrame(data_kameiten_per_capita) 

df_kameiten_per_capita.to_csv('../csv/for_analysis/kameiten_per_capita.csv', index = False, header=True)

In [ ]:
len(total_total_total)

In [ ]:
df_first2020 = df_for_stata[(df_for_stata["year"] == 2020) & (df_for_stata["item"] == "Others")]

In [ ]:
df_forth2019 = df_for_stata[(df_for_stata["year"] == 2019) & (df_for_stata["quarter"] == 4) & (df_for_stata["item"] == "Others")]

In [ ]:
df_forth2019.shape

In [ ]:
num_kamei_20194q = list(df_forth2019.iloc[:,16])

In [ ]:
num_kamei_20201q = list(df_first2020.iloc[:,16])

In [ ]:
num_kamei_ave = list((np.array(num_kamei_20194q) + np.array(num_kamei_20201q)) / 2)

In [ ]:
len(num_kamei_ave)

In [ ]:
num_kamei_ave

In [ ]:
df_pop = pd.read_csv('../data/FEH_00200524_201018100057.csv', encoding = "shift_jis")

In [ ]:
# prefs = ["Hokkaido",'Aomori','Iwate','Miyagi','Akita','Yamagata','Fukushima','Ibaraki','Tochigi',
#                  'Gumma','Saitama','Chiba','Tokyo','Kanagawa','Niigata','Toyama','Ishikawa','Fukui',
#                  'Yamanashi','Nagano','Gifu','Shizuoka','Aichi','Mie','Shiga','Kyoto','Osaka','Hyogo','Nara',
#                  'Wakayama','Tottori','Shimane','Okayama','Hiroshima','Yamaguchi',
#                  'Tokushima','Kagawa','Ehime','Kochi','Fukuoka','Saga','Nagasaki','Kumamoto','Oita','Miyazaki','Kagoshima','Okinawa']

In [ ]:
pref_pop_list = list(df_pop.iloc[:,9])

In [ ]:
# 単位は千人

In [ ]:
kamei_per_capita = list(np.array(num_kamei_ave) / np.array(pref_pop_list))

In [ ]:
len(kamei_per_capita)

In [ ]:
prefs

In [ ]:
data_kameiten_per_capita = {
    'pref': prefs,
    'kamei_per_capita': kamei_per_capita
}

In [ ]:
# Convert the dictionary into DataFrame 
df_kameiten_per_capita = pd.DataFrame(data_kameiten_per_capita) 

df_kameiten_per_capita.to_csv('../csv/for_analysis/kameiten_per_capita.csv', index = False, header=True)

0           0.000000
1           0.000000
2           0.000000
3           0.000000
4           0.000000
            ...
5071    13771.666667
5072     9062.222222
5073     8407.666667
5074    13341.444444
5075    12877.555556
Name: total_total_total, Length: 5076, dtype: float64

In [56]:
len(total_total_total)

94

In [82]:
df_first2020 = df_for_stata[(df_for_stata["year"] == 2020) & (df_for_stata["item"] == "Others")]

In [83]:
df_forth2019 = df_for_stata[(df_for_stata["year"] == 2019) & (df_for_stata["quarter"] == 4) & (df_for_stata["item"] == "Others")]

In [84]:
df_forth2019.shape

(47, 37)

In [85]:
num_kamei_20194q = list(df_forth2019.iloc[:,16])

In [86]:
num_kamei_20201q = list(df_first2020.iloc[:,16])

In [87]:
num_kamei_ave = list((np.array(num_kamei_20194q) + np.array(num_kamei_20201q)) / 2)

In [88]:
len(num_kamei_ave)

47

In [89]:
num_kamei_ave

[41484.11111111111,
 6987.888888888889,
 7236.055555555554,
 14397.166666666666,
 5630.166666666666,
 7044.722222222223,
 10332.555555555557,
 12570.277777777777,
 10182.333333333332,
 10394.111111111113,
 30394.555555555555,
 26658.27777777778,
 135109.8333333333,
 43981.333333333336,
 15635.833333333336,
 8486.27777777778,
 11687.388888888889,
 6773.277777777777,
 6128.777777777779,
 15842.388888888887,
 13891.38888888889,
 23540.33333333333,
 47743.61111111111,
 10724.277777777777,
 8275.777777777777,
 22808.444444444445,
 68274.22222222222,
 36047.88888888889,
 7471.277777777777,
 7029.055555555556,
 4669.944444444444,
 5418.0,
 13859.833333333336,
 20409.444444444445,
 8412.055555555555,
 5202.777777777777,
 7217.944444444443,
 8690.444444444445,
 5008.555555555555,
 37422.83333333333,
 4949.166666666666,
 8402.88888888889,
 11785.666666666664,
 7847.333333333334,
 6969.722222222222,
 11236.722222222223,
 10283.0]

In [94]:
df_pop = pd.read_csv('../data/FEH_00200524_201018100057.csv', encoding = "shift_jis")

In [ ]:
# prefs = ["Hokkaido",'Aomori','Iwate','Miyagi','Akita','Yamagata','Fukushima','Ibaraki','Tochigi',
#                  'Gumma','Saitama','Chiba','Tokyo','Kanagawa','Niigata','Toyama','Ishikawa','Fukui',
#                  'Yamanashi','Nagano','Gifu','Shizuoka','Aichi','Mie','Shiga','Kyoto','Osaka','Hyogo','Nara',
#                  'Wakayama','Tottori','Shimane','Okayama','Hiroshima','Yamaguchi',
#                  'Tokushima','Kagawa','Ehime','Kochi','Fukuoka','Saga','Nagasaki','Kumamoto','Oita','Miyazaki','Kagoshima','Okinawa']

In [102]:
pref_pop_list = list(df_pop.iloc[:,9])

In [101]:
# 単位は千人

In [103]:
kamei_per_capita = list(np.array(num_kamei_ave) / np.array(pref_pop_list))

In [108]:
len(kamei_per_capita)

47

In [105]:
prefs

['Hokkaido',
 'Aomori',
 'Iwate',
 'Miyagi',
 'Akita',
 'Yamagata',
 'Fukushima',
 'Ibaraki',
 'Tochigi',
 'Gumma',
 'Saitama',
 'Chiba',
 'Tokyo',
 'Kanagawa',
 'Niigata',
 'Toyama',
 'Ishikawa',
 'Fukui',
 'Yamanashi',
 'Nagano',
 'Gifu',
 'Shizuoka',
 'Aichi',
 'Mie',
 'Shiga',
 'Kyoto',
 'Osaka',
 'Hyogo',
 'Nara',
 'Wakayama',
 'Tottori',
 'Shimane',
 'Okayama',
 'Hiroshima',
 'Yamaguchi',
 'Tokushima',
 'Kagawa',
 'Ehime',
 'Kochi',
 'Fukuoka',
 'Saga',
 'Nagasaki',
 'Kumamoto',
 'Oita',
 'Miyazaki',
 'Kagoshima',
 'Okinawa']

In [109]:
data_kameiten_per_capita = {
    'pref': prefs,
    'kamei_per_capita': kamei_per_capita
}

In [110]:
# Convert the dictionary into DataFrame 
df_kameiten_per_capita = pd.DataFrame(data_kameiten_per_capita) 

df_kameiten_per_capita.to_csv('../csv/for_analysis/kameiten_per_capita.csv', index = False, header=True)