In [34]:
import pandas as pd
import numpy as np

In [98]:
df = pd.read_excel('../data/raw/foreign/f_2018_1-3.xls', sheet_name=14)

In [100]:
df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117
0,NaN,表4-3 訪問地（都道府県47区分および地方運輸局等10区分）別 平均泊数,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2018年（平成30年） 1-3月期 【確報】,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,（単位）回答数：人、平均泊数：泊,NaN,NaN,NaN,NaN,NaN,NaN,NaN,（単位）回答数：人、平均泊数：泊
3,NaN,調査項目,NaN,NaN,北海道,NaN,青森県,NaN,岩手県,NaN,...,近畿運輸局,NaN,中国運輸局,NaN,四国運輸局,NaN,九州運輸局,NaN,沖縄総合事務局,NaN
4,NaN,NaN,NaN,NaN,回答数,平均泊数,回答数,平均泊数,回答数,平均泊数,...,回答数,平均泊数,回答数,平均泊数,回答数,平均泊数,回答数,平均泊数,回答数,平均泊数
5,NaN,全体 【B1】,NaN,NaN,1599,5.41157,96,6.9944,72,4.56452,...,5370,4.83463,1046,4.09459,589,10.4795,3392,3.77,352,4.64214
6,NaN,入国空港・海港,新千歳空港,NaN,901,4.85741,1,6,1,1,...,37,2.78285,1,0,2,0.5,1,2,1,3
7,NaN,（単一回答）,函館空港,NaN,16,5.24982,2,1.34749,0,-,...,1,1,0,-,0,-,1,4,0,-
8,NaN,【B1】,青森空港,NaN,1,5,10,2.34308,1,4,...,0,-,0,-,0,-,0,-,0,-
9,NaN,NaN,仙台空港,NaN,1,4,6,1.09792,29,4.55818,...,3,3.00265,0,-,0,-,0,-,0,-
10,NaN,NaN,茨城空港,NaN,0,-,0,-,0,-,...,1,4,1,3,0,-,0,-,1,4
11,NaN,NaN,東京国際空港（羽田空港）,NaN,253,6.26029,40,17.398,15,2.4222,...,826,3.9916,181,2.94986,37,4.16057,89,7.23722,27,20.5019
12,NaN,NaN,成田国際空港,NaN,297,8.86035,34,3.75542,22,6.01008,...,1063,3.49606,205,2.81018,41,3.96533,74,9.44787,45,18.1056
13,NaN,NaN,小松空港,NaN,0,-,0,-,0,-,...,9,1.58827,0,-,0,-,0,-,0,-
14,NaN,NaN,富山空港,NaN,0,-,0,-,0,-,...,1,8,0,-,0,-,0,-,0,-
15,NaN,NaN,富士山静岡空港,NaN,0,-,0,-,0,-,...,19,2.69046,1,4,0,-,0,-,0,-
16,NaN,NaN,中部国際空港,NaN,27,4.33008,0,-,0,-,...,412,2.80348,10,4.93541,6,1.14589,7,2.7445,0,-
17,NaN,NaN,関西国際空港,NaN,90,4.38276,2,3.92475,4,2.76036,...,2849,5.53927,177,8.33438,69,31.4965,55,2.43766,6,4.41716
18,NaN,NaN,米子空港,NaN,0,-,0,-,0,-,...,0,-,25,2.88489,0,-,0,-,0,-
19,NaN,NaN,岡山空港,NaN,1,4,0,-,0,-,...,14,2.26308,44,3.03437,6,3.20906,10,1.49325,1,3

In [118]:
list_stay = []

In [119]:
df = pd.read_excel('../data/raw/foreign/f_2018_1-3.xls', sheet_name=14)
for i in range(5,99,2):
    print(df.iloc[5,i])
    list_stay.append(df.iloc[5,i])

5.411569819953627
6.994401322648032
4.5645241385368465
5.10183140697769
8.413553369051002
2.7690659654719103
6.656340453125719
10.571639708653002
6.5051399793990266
15.850377589551456
12.530418352349262
0.6708257195170513
6.1038108419675225
5.309858456156838
5.973202335636582
2.197329551849134
3.948052820283803
1.7343748369759602
1.538985872925196
5.520912191661315
4.015583839742019
4.341932996966113
6.596694143703979
5.221431625540232
3.3709184820995874
1.9189839113347744
3.211992239562562
2.4707772286791
0.5071823877370499
2.951909311396461
2.220225982366679
7.040773742364813
4.910824027349995
2.8681027129985903
3.963293340472178
6.412422489971812
4.609099800718179
14.6804623750847
4.132122625719228
2.6584846896173193
1.0298187234800282
1.8544092014198141
1.5972431442021404
1.0876558099659552
2.1261312667291326
3.462780124497173
4.6421353226145055

In [120]:
df = pd.read_excel('../data/raw/foreign/f_2018_4-6.xls', sheet_name=14)
for i in range(5,99,2):
    print(df.iloc[5,i])
    list_stay.append(df.iloc[5,i])

4.538107185859
6.200510759226501
2.371312609560624
6.743682396384748
4.132954680591685
5.732258534014286
7.738817431096177
13.953962915657307
3.6036265376774224
6.091938358826987
15.448013855311862
0.6466777730306797
4.661851983473598
4.789485843199788
14.57687649419904
2.322928017969172
2.191767273631551
7.883311966688822
1.5616372473523195
3.5813559970275244
3.550386785402439
3.239140568220257
4.486309725840714
7.934304005669807
4.792549017762376
1.9372004680297
2.9780493830121277
2.2626465613049653
0.4327792070158022
1.9433231100325197
5.844572098978411
2.098558754170612
3.0182356623000093
3.6140904008689243
3.1119942318087004
4.120476445157667
7.29523826387505
4.694433180878906
2.111623812332808
2.6787705444915915
1.0126299768858227
5.20198588361744
1.6370196299472222
1.0266345211520362
5.234406604219711
2.9266947401608263
4.138428782878161

In [121]:
df = pd.read_excel('../data/raw/foreign/f_2018_7-9.xls', sheet_name=14)
for i in range(5,99,2):
    print(df.iloc[5,i])
    list_stay.append(df.iloc[5,i])

5.5560544524254105
5.284996889279963
2.159458158410777
6.069570794278849
9.151570930692344
22.656007395872884
5.119103267347239
15.849986465781708
6.039136977062105
15.07621196720737
19.54048277964367
0.7172612436698457
6.595848434353648
4.513963232007842
4.355517838019864
2.2408818035741422
3.0638395740403457
9.176082923630958
1.8094085635038804
5.783898625554639
2.5750374771016276
2.911821597183752
4.229689477455659
8.738417770712843
5.288351353522195
2.956387082865094
3.1297625638733164
2.399952088620707
0.659451634476632
4.761704449683414
3.217802917383933
2.4595937905116863
2.8619875603449074
2.8626293957737667
4.308357434860962
2.6884652778350278
3.4866283534830083
4.393701602824266
11.388405258908533
3.3655861552450204
1.3225423962029386
2.967138054392207
3.7949112901700133
1.3915827116239843
4.825247779335772
4.32163685497939
4.432459079808664

In [122]:
df = pd.read_excel('../data/raw/foreign/f_2018_10-12.xls', sheet_name=14)
for i in range(5,99,2):
    print(df.iloc[5,i])
    list_stay.append(df.iloc[5,i])

4.876304443289311
3.3496933001862605
3.640270456601129
3.397840870532203
1.7897604990751035
4.197040497180201
9.15878157499152
10.694735264432703
1.9584122965723718
11.826521050058684
11.850480660248428
0.5269181352046431
4.434643758426474
3.6774128336367573
4.393300029462164
3.385144919347793
2.312068860253727
14.276301299736174
1.670261463455457
2.4999506118973454
1.6962819216692104
2.470682792404588
4.596517971460236
7.765213790695912
2.9843555846070267
1.898087856632396
2.845956384874783
2.1252299475269787
0.38839456147042295
2.5151726695814727
4.106036908749124
4.508964792503407
3.0484330925011993
2.7364193189106993
5.396596896690089
3.5536026781891614
2.5126713648989494
3.6696206423547326
2.860792356681223
2.981560812996506
1.246375548221277
3.6063359755580255
1.7551074940451405
1.3861461396200865
1.9918041709336949
3.9133294775479763
4.085918897331521

In [123]:
df = pd.read_excel('../data/raw/foreign/f_2019_1-3.xls', sheet_name=14)
for i in range(5,99,2):
    print(df.iloc[5,i])
    list_stay.append(df.iloc[5,i])

5.301
2.6954
3.0371
4.1662
2.3289
4.1189
4.5598
11.7745
4.2762
5.2449
23.7463
0.7246
5.4624
7.4835
3.755
3.6868
2.8417
10.5215
1.4972
5.8679
1.7553
2.7825
4.0636
2.2586
6.6843
2.8611
3.4718
2.2423
0.4622
2.33
9.5293
2.4924
9.8552
4.3097
6.8539
5.5341
3.1661
13.623
3.1751
3.3845
1.4782
3.1402
2.9388
1.8506
5.632
4.4223
4.228

In [124]:
df = pd.read_excel('../data/raw/foreign/f_2019_4-6.xls', sheet_name=14)
for i in range(5,99,2):
    print(df.iloc[5,i])
    list_stay.append(df.iloc[5,i])

4.4046
3.4073
2.2503
3.3781
2.2072
3.3158
5.9733
8.1005
3.2696
8.1196
9.3227
0.5987
4.6862
3.7792
8.3588
1.6765
1.6526
6.2063
1.0741
3.1848
1.8807
1.9709
3.1526
9.7258
3.2733
1.7454
2.7839
2.8509
0.4444
2.3842
3.4941
2.0662
3.3091
2.7452
4.828
2.5058
3.015
2.7477
4.7042
3.5656
2.5824
4.2379
3.437
1.6132
2.759
4.5394
4.7878

In [125]:
df = pd.read_excel('../data/raw/foreign/f_2019_7-9.xls', sheet_name=14)
for i in range(5,99,2):
    print(df.iloc[5,i])
    list_stay.append(df.iloc[5,i])

7.6129
4.5746
2.39
8.175
4.305
16.0626
16.6423
12.5537
13.8378
10.681
19.2938
0.9149
6.7437
5.6069
4.4172
2.8288
2.6343
1.769
1.4625
3.7102
3.0511
1.9144
4.1248
10.2314
8.3845
2.3799
3.3367
2.3823
0.4908
1.9532
1.9033
6.6506
7.6655
3.1618
2.7046
3.4756
3.148
12.1129
9.6805
4.7751
2.0493
4.1844
4.6991
1.9549
7.5592
3.831
5.1151

In [126]:
df = pd.read_excel('../data/raw/foreign/f_2019_10-12.xls', sheet_name=14)
for i in range(5,99,2):
    print(df.iloc[5,i])
    list_stay.append(df.iloc[5,i])

4.8179
3.0449
1.5866
3.685
1.4438
2.1905
9.5678
10.0413
2.0792
12.4624
12.4667
0.8675
5.6065
4.7176
4.1093
2.4567
1.9265
3.1838
1.2113
3.6855
2.2223
2.9501
4.0226
2.6255
3.2493
2.175
2.9699
2.5837
0.2859
1.983
3.7245
3.587
2.4832
4.9208
3.0112
1.8733
4.5813
1.8864
6.401
3.7202
1.1681
4.2497
2.4701
2.2772
1.7137
3.0515
5.0281

In [127]:
df = pd.read_excel('../data/raw/foreign/f_2020_1-3.xls', sheet_name=14)
for i in range(5,99,2):
    print(df.iloc[5,i])
    list_stay.append(df.iloc[5,i])

7.053
6.8748
15.6381
8.5352
4.1411
6.6611
6.7373
25.8791
8.8556
8.2359
20.9146
0.8391
8.2154
11.8433
8.4032
17.1788
6.6602
12.7343
2.6163
8.4161
3.4468
8.7646
10.8454
18.6582
10.5646
4.8793
11.8903
9.2517
1.1136
6.333
4.8121
6.4719
14.9785
5.3035
13.9823
15.2773
10.5118
2.5433
5.8465
7.8842
4.5264
10.2133
3.6666
3.2054
15.6923
9.5911
5.86

In [128]:
df = pd.DataFrame(list_stay,columns=['stay'])

In [129]:
df

          stay
0     5.411570
1     6.994401
2     4.564524
3     5.101831
4     8.413553
..         ...
418   3.666600
419   3.205400
420  15.692300
421   9.591100
422   5.860000

[423 rows x 1 columns]

In [130]:
df.to_csv("stay.csv", header=True, index=False)